Repository StarSync-FE/StarSync, pull requests merged in 2025-04, with the labels that each got.

#2 🎉Feat: 프로젝트 초기 세팅 및 개발 환경 설정
  .github/.gitmessage.txt
  .github/scripts/copy-template.js
  .gitignore
  .stylelintrc.json
  .vscode/settings.json
  README.md
  biome.json
  commitlint.config.js
  index.html
  lefthook.yml
  package-lock.json
  package.json
  public/favicon.ico
  src/App.jsx
  src/main.jsx
  vite.config.js
Labels: ✨Feat, 📦Chore

#11 ✨Feat: 목록 페이지 기초 UI 디자인
  package-lock.json
  package.json
  src/App.jsx
  src/assets/images/토끼로아콘.jpg
  src/pages/List/List.jsx
  src/pages/List/List.styles.js
Labels: ✨Feat, 💄Style

#17 ✨Feat: 라디오 버튼 공통 컴포넌트 작업
  src/assets/exit-icon.png
  src/components/radioButton/RadioButton.jsx
  src/components/radioButton/radioButton.styles.js
Labels: ✨Feat, 💄Style

#23 ✨Feat: 전역 스타일 구현
  index.html
  src/main.jsx
  src/styles/global.styles.jsx
Labels: ✨Feat, 💄Style

#24 ♻️Refactor: 크레딧 충전하기 및 이달의 차트 컴포넌트 분리
  src/App.jsx
  src/assets/images/credit.jpg
  src/components/charge/Charge.jsx
  src/components/charge/charge.styles.js
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
  src/pages/List/List.jsx
  src/pages/list/ListPage.jsx
  vite.config.js
Labels: 📝Docs, 📦Chore, ♻️Refactor

#26 ✨Feat: 반응형 스타일 세팅
  src/styles/responsive.js
Labels: ✨Feat, 📝Docs, 💄Style

#28 ♻️Refactor: 전역 스타일 색상 변수 이름 정리
  src/styles/global.styles.jsx
Labels: ♻️Refactor

#32 ✨Feat: 이달의 차트 탭 버튼 기능
  src/assets/images/stupid.png
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
  src/pages/list/ListPage.jsx
Labels: ✨Feat, 💄Style

#30 ✨Feat: 투표하기 모달 내용 ui 디자인 구현
  src/assets/icons/exit-icon.png
  src/assets/images/하치와레.png
  src/components/avatar/Avatar.jsx
  src/components/radioButton/RadioButton.jsx
  src/components/radioButton/radioButton.styles.js
  src/components/voteModal/VoteModal.jsx
  src/components/voteModal/mockData.js
  src/components/voteModal/voteModal.styles.js
Labels: ✨Feat, 🐛Fix

#31 ✨Feat: 라우터 기본 설정, axios구현, 기본 에러 처리
  .gitignore
  package-lock.json
  package.json
  src/App.jsx
  src/components/feedback/ErrorBoundary.jsx
  src/components/feedback/PendingUI.jsx
  src/constants/api.js
  src/constants/errors.js
  src/constants/statusCodes.js
  src/data/mockData.js
  src/main.jsx
  src/pages/dev/IdolRegisterPage.jsx
  src/pages/error/NotFoundPage.jsx
  src/pages/error/ServerErrorPage.jsx
  src/pages/landing/LandingPage.jsx
  src/pages/list/ListPage.jsx
  src/pages/mypage/MyPage.jsx
  src/routes/router.jsx
  src/utils/actions.js
  src/utils/axiosInstance.js
  src/utils/fetchData.js
  src/utils/registerIdol.js
Labels: ✨Feat, 🐛Fix, ♻️Refactor

#43 ♻️Refactor: 라디오버튼, 투표하기 모달 내용 경로 수정 및 코드 리팩토링
  src/App.jsx
  src/assets/icons/mococo-no-background.png
  src/assets/images/hachiware.png
  src/components/avatar/Avatar.jsx
  src/components/avatar/avatar.styles.js
  src/components/avatar/index.js
  src/components/radioButton/RadioButton.jsx
  src/components/radioButton/index.js
  src/components/radioButton/radioButton.styles.js
  src/components/voteModal/VoteModal.jsx
  src/components/voteModal/index.js
  src/components/voteModal/mockData.js
  src/components/voteModal/voteModal.styles.js
  src/data/mockData.js
  src/pages/my/ListPage.jsx
  src/pages/my/index.js
  src/routes/router.jsx
Labels: ♻️Refactor, 💄Style

#41 ✨Feat: 버튼 공통 컴포넌트 구현
  src/components/customButton/CustomButton.jsx
  src/components/customButton/customButton.styles.js
  src/components/customButton/index.js
Labels: ✨Feat, 💄Style

#49 ✨Feat: 크레딧 단위 자릿수 함수 구현
  src/components/charge/Charge.jsx
  src/components/chart/Chart.jsx
  src/pages/list/ListPage.jsx
  src/utils/addCommas.js
Labels: ✨Feat, 🐛Fix, ♻️Refactor

#47 ♻️Refactor: 색상 변수 추가 및 일부 스타일 수정
  src/styles/global.styles.jsx
Labels: ♻️Refactor, 💄Style

#54 ✨Feat: 카드 컴포넌트 UI 구현
  src/components/card/Card.jsx
  src/components/card/card.styles.js
  src/data/mockData.js
Labels: ✨Feat, 💄Style

#88 ♻️Refactor: 파일명 대문자 변경 및 일부 버그 수정
  src/styles/Global.styles.jsx
Labels: 🐛Fix, ♻️Refactor

#90 ✨Feat: 모달 창 공통 컴포넌트 디자인 및 기능 추가
  src/App.jsx
  src/components/charge/Charge.jsx
  src/components/charge/charge.styles.js
  src/components/charge/index.js
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
  src/components/chart/index.js
  src/components/modal/Modal.jsx
  src/components/modal/index.js
  src/components/modal/modal.styles.js
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
  src/components/modals/creditChargeModal/index.js
  src/components/modals/creditLackModal/CreditLackModal.jsx
  src/components/modals/creditLackModal/creditLackModal.styles.js
  src/components/modals/creditLackModal/index.js
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/donationModal/donationModal.styles.js
  src/components/modals/donationModal/index.js
  src/components/modals/voteModal/VoteModal.jsx
  src/components/modals/voteModal/index.js
  src/components/modals/voteModal/voteModal.styles.js
  src/data/mockData.js
  src/pages/list/ListPage.jsx
Labels: ✨Feat, 🐛Fix, 📝Docs, ♻️Refactor, 💄Style

#91 ♻️Refactor: html 반응형 설정 및 일부 수정
  src/main.jsx
  src/styles/Global.styles.jsx
Labels: 📦Chore, ♻️Refactor, 💄Style

#97 ✨Feat: 버튼 컴포넌트 반응형 구현
  src/components/customButton/CustomButton.jsx
  src/components/customButton/customButton.styles.js
  src/components/customButton/index.js
Labels: ✨Feat, 💄Style

#117 ✨Feat: 카드 컴포넌트 기능 구현
  src/components/card/Card.jsx
  src/components/card/card.styles.js
  src/components/card/index.js
  src/data/mockData.js
  src/utils/format/getDaysRemaining.js
  src/utils/format/getDonationPercentage.js
  src/utils/format/index.js
Labels: ✨Feat

#123 💄Style: 크레딧 충전하기 모달 창 추가 디자인
  src/assets/images/chart.png
  src/assets/images/credit-white.png
  src/assets/images/credit.png
  src/assets/images/mococo.jpg
  src/components/charge/Charge.jsx
  src/components/charge/index.js
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
  src/components/chart/index.js
  src/components/customButton/customButton.styles.js
  src/components/modal/Modal.jsx
  src/components/modal/index.js
  src/components/modal/modal.styles.js
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
  src/components/modals/creditChargeModal/index.js
  src/components/modals/creditLackModal/CreditLackModal.jsx
  src/components/modals/donationModal/DonationModal.jsx
  src/components/radioButton/radioButton.styles.js
  src/constants/errors/uiErrors.js
  src/data/mockData.js
  src/pages/list/ListPage.jsx
  src/styles/Global.styles.jsx
  src/utils/format/addCommas.js
Labels: ✨Feat, ♻️Refactor, 💄Style

#118 ✨Feat: 마이페이지 기초 ui 및 일부 기능 구현
  src/assets/icons/check-icon.png
  src/assets/icons/exit-icon-black.png
  src/assets/icons/plus-icon.png
  src/components/avatar/Avatar.jsx
  src/components/avatar/avatar.styles.js
  src/components/avatar/index.js
  src/components/avatarButton/AvatarButton.jsx
  src/components/avatarButton/avatarButton.styles.js
  src/components/avatarButton/index.js
  src/components/charge/Charge.jsx
  src/components/chart/chart.styles.js
  src/components/modals/voteModal/VoteModal.jsx
  src/components/modals/voteModal/index.js
  src/components/radioButton/index.js
  src/components/radioButton/radioButton.styles.js
  src/data/mockData.js
  src/main.jsx
  src/pages/my/ListPage.jsx
  src/pages/my/MyPage.jsx
  src/pages/my/index.js
  src/pages/my/myPage.styles.js
  src/routes/router.jsx
Labels: ✨Feat, 🐛Fix, ♻️Refactor, 💄Style

#131 ✨Feat: 카드 컴포넌트 반응형 구현
  src/components/card/Card.jsx
  src/components/card/card.styles.js
Labels: ✨Feat, 💄Style

#128 ✨Feat: 헤더 컴포넌트 구현
  lefthook.yml
  src/App.jsx
  src/assets/images/logo_text_temp.png
  src/components/header/Header.jsx
  src/components/header/header.styles.js
  src/components/header/index.js
  src/constants/layout/index.js
  src/constants/layout/layout.js
Labels: ✨Feat

#144 ♻️Refactor: 헤더 컴포넌트 라우터 부분 리팩토링
  src/App.jsx
  src/components/header/Header.jsx
  src/components/header/header.styles.js
Labels: ♻️Refactor, 💄Style

#145 ♻️Refactor: splash screen을 React 상태 기반 방식으로 변경
  index.html
  src/App.jsx
  src/Root.jsx
  src/components/loadingStatus/pendingUI/PendingUI.jsx
  src/components/loadingStatus/pendingUI/index.js
  src/components/loadingStatus/pendingUI/pendingUI.styles.js
  src/components/loadingStatus/splashScreen/SplashScreen.jsx
  src/components/loadingStatus/splashScreen/index.js
  src/components/loadingStatus/splashScreen/splashScreen.styles.js
  src/main.jsx
  src/routes/router.jsx
Labels: ♻️Refactor

#149 ✨Feat: 마이페이지 반응형 및 기능 구현
  src/assets/icons/next-icon.png
  src/assets/icons/prev-icon.png
  src/components/avatarButton/AvatarButton.jsx
  src/components/avatarButton/avatarButton.styles.js
  src/pages/my/MyPage.jsx
  src/pages/my/myPage.styles.js
Labels: ✨Feat

#150 ♻️Refactor: 요청 메소드 분리, 에러처리 로직 수정 및 개선
  src/Root.jsx
  src/components/error/ErrorBoundary.jsx
  src/constants/errors/consoleErrors.js
  src/constants/errors/uiErrors.js
  src/pages/error/notFound/NotFoundPage.jsx
  src/pages/error/serverError/ServerErrorPage.jsx
  src/pages/my/MyPage.jsx
  src/routes/router.jsx
  src/utils/api/actions.js
  src/utils/api/axiosInstance.js
  src/utils/api/fetchData.js
  src/utils/api/index.js
  src/utils/api/requestDelete.js
  src/utils/api/requestGet.js
  src/utils/api/requestPatch.js
  src/utils/api/requestPost.js
  src/utils/api/requestPostImg.js
  src/utils/api/requestPut.js
Labels: 🐛Fix, ♻️Refactor

#148 ♻️Refactor: 목록 페이지의 모달 컴포넌트화하여 분리
  src/components/charge/Charge.jsx
  src/components/list/ListModal.jsx
  src/components/list/index.js
  src/components/modal/Modal.jsx
  src/components/modal/modal.styles.js
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
  src/components/modals/creditLackModal/index.js
  src/components/modals/donationModal/index.js
  src/components/modals/voteModal/index.js
  src/components/radioButton/RadioButton.jsx
  src/pages/list/ListPage.jsx
Labels: ✨Feat, ♻️Refactor, 💄Style

#152 ✨Feat: 푸터 컴포넌트 구현
  src/Root.jsx
  src/assets/icons/github-icon.svg
  src/components/footer/Footer.jsx
  src/components/footer/footer.styles.js
  src/components/footer/index.js
  src/constants/layout/layout.js
Labels: ✨Feat

#161 ✨Feat: 서버 에러 대응을 위한 axios 인터셉터 자동 재시도 로직 추가
  .gitignore
  src/constants/errors/uiErrors.js
  src/pages/my/MyPage.jsx
  src/pages/my/myPage.styles.js
  src/routes/router.jsx
  src/utils/api/axiosInstance.js
  src/utils/api/index.js
  src/utils/api/requestPostImg.js
  vite.config.js
Labels: 🐛Fix

#166 ✨Feat: 마이페이지 로컬스토리지에 저장하기, 이전, 다음 버튼 기능 구현
  src/components/modals/voteModal/index.js
  src/pages/my/MyPage.jsx
  src/pages/my/index.js
  src/pages/my/myPage.styles.js
  src/routes/router.jsx
Labels: ✨Feat, 🐛Fix

#180 ✨Feat: 에러 바운더리 스코프 분리 및 에러 처리 개선
  package-lock.json
  src/components/customButton/CustomButton.jsx
  src/components/error/ApiErrorBoundary.jsx
  src/components/error/ErrorBoundary.jsx
  src/components/error/GlobalErrorBoundary.jsx
  src/components/error/RenderErrorBoundary.jsx
  src/components/error/errorBoundary.styles.js
  src/components/error/index.js
  src/components/test/BrokenComponent.jsx
  src/components/test/TestRenderError.jsx
  src/constants/errors/consoleErrors.js
  src/constants/errors/index.js
  src/constants/errors/thrownErrors.js
  src/constants/errors/uiErrors.js
  src/pages/error/notFound/NotFoundPage.jsx
  src/pages/error/notFound/notFoundPage.styles.js
  src/pages/error/serverError/ServerErrorPage.jsx
  src/pages/error/serverError/serverErrorPage.styles.js
  src/pages/error/styles/baseError.styles.js
  src/pages/error/styles/errorButton.styles.js
  src/pages/error/styles/index.js
  src/routes/router.jsx
  src/utils/api/axiosInstance.js
  src/utils/format/addCommas.js
Labels: ✨Feat, ♻️Refactor, 💄Style

#186 ✨Feat: 캐러셀 구현
  src/components/card/Card.jsx
  src/components/carousel/Carousel.jsx
  src/components/carousel/carousel.styles.js
  src/components/carousel/index.js
  src/constants/carousel/carouselConstants.js
  src/constants/carousel/index.js
  src/pages/list/ListPage.jsx
  src/utils/carousel/getItemMetrics.js
  src/utils/carousel/index.js
Labels: ✨Feat, 💄Style

#181 ✨Feat: 투표하기 모달 구현
  src/components/avatar/Avatar.jsx
  src/components/chart/Chart.jsx
  src/components/list/ListModal.jsx
  src/components/modals/voteModal/VoteModal.jsx
  src/components/modals/voteModal/voteModal.styles.js
  src/pages/list/ListPage.jsx
  src/pages/my/MyPage.jsx
  src/pages/my/myPage.styles.js
Labels: ✨Feat, 🐛Fix, ♻️Refactor

#190 ✨Feat: 이달의 차트 pagination 기능의 순위 반영
  package-lock.json
  package.json
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
  src/components/radioButton/RadioButton.jsx
  src/utils/api/requestGet.js
Labels: ✨Feat, 🐛Fix, ♻️Refactor, 💄Style

#192 ✨Feat: 투표하기 반응형 구현 및 토스트 알림 컴포넌트 구현
  src/assets/icons/success-icon.png
  src/assets/icons/warning-icon.png
  src/components/alert/Alert.jsx
  src/components/alert/alert.styles.js
  src/components/alert/index.js
  src/components/modals/voteModal/VoteModal.jsx
  src/components/modals/voteModal/voteModal.styles.js
Labels: ✨Feat, 🐛Fix

#193 ✨Feat: 이달의 차트 데이터 로딩 스피너 기능 구현
  src/assets/images/loading-spinner.gif
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
  src/utils/api/requestGet.js
Labels: ✨Feat, ♻️Refactor, 💄Style

#194 💄Style: 랜딩 페이지 디자인 작업
  package-lock.json
  package.json
  src/pages/landing/LandingPage.jsx
  src/pages/landing/landingPage.styles.js
Labels: 💄Style

#195 ✨Feat: 후원하기 모달 구현
  src/components/card/Card.jsx
  src/components/card/card.styles.js
  src/components/carousel/Carousel.jsx
  src/components/list/ListModal.jsx
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/donationModal/donationModal.styles.js
  src/constants/api/endpoints.js
  src/pages/list/ListPage.jsx
  src/utils/api/requestPut.js
Labels: ✨Feat, 💄Style

#196 ✨Feat: 크레딧 부족 모달 구현
  src/components/list/ListModal.jsx
  src/components/modal/Modal.jsx
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditLackModal/CreditLackModal.jsx
  src/components/modals/creditLackModal/creditLackModal.styles.js
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/voteModal/VoteModal.jsx
Labels: ✨Feat, 💄Style

#208 📦Chore: 배포 전 develop 브랜치 점검
  src/components/alert/alert.styles.js
  src/components/avatar/avatar.styles.js
  src/components/avatar/index.js
  src/components/avatarButton/AvatarButton.jsx
  src/components/avatarButton/avatarButton.styles.js
  src/components/avatarButton/index.js
  src/components/card/Card.jsx
  src/components/card/card.styles.js
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
  src/components/customButton/index.js
  src/components/error/ApiErrorBoundary.jsx
  src/components/error/RenderErrorBoundary.jsx
  src/components/loadingStatus/pendingUI/pendingUI.styles.js
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
  src/components/modals/creditLackModal/CreditLackModal.jsx
  src/components/modals/creditLackModal/creditLackModal.styles.js
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/donationModal/donationModal.styles.js
  src/components/modals/voteModal/VoteModal.jsx
  src/components/modals/voteModal/voteModal.styles.js
  src/components/radioButton/index.js
  src/pages/error/notFound/NotFoundPage.jsx
  src/pages/error/serverError/ServerErrorPage.jsx
  src/pages/landing/LandingPage.jsx
  src/pages/my/MyPage.jsx
  src/pages/my/myPage.styles.js
  src/styles/responsive.js
Labels: 📦Chore

#211 ♻️Refactor: 전역 스타일 색상 변수 추가 및 일부 개선
  src/components/alert/alert.styles.js
  src/components/avatar/avatar.styles.js
  src/components/card/card.styles.js
  src/components/chart/chart.styles.js
  src/components/customButton/customButton.styles.js
  src/components/footer/footer.styles.js
  src/components/modal/modal.styles.js
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
  src/components/modals/donationModal/donationModal.styles.js
  src/components/modals/voteModal/voteModal.styles.js
  src/components/radioButton/radioButton.styles.js
  src/pages/error/styles/baseError.styles.js
  src/pages/error/styles/errorButton.styles.js
  src/pages/landing/landingPage.styles.js
  src/pages/my/myPage.styles.js
  src/styles/Global.styles.jsx
Labels: ♻️Refactor, 💄Style

#213 ♻️Refactor: 로딩 스피너 공통 컴포넌트로 분리
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
  src/components/loadingStatus/loadingSpinner/LoadingSpinner.jsx
  src/components/loadingStatus/loadingSpinner/index.js
  src/components/loadingStatus/loadingSpinner/loadingSpinner.styles.js
Labels: 📝Docs, ♻️Refactor, 💄Style

#231 ♻️Refactor: 캐러셀 공통 버튼 컴포넌트 분리 작업
  src/components/arrowButton/ArrowButton.jsx
  src/components/arrowButton/arrowButton.styles.js
  src/components/arrowButton/index.js
  src/components/carousel/Carousel.jsx
  src/components/carousel/carousel.styles.js
Labels: ✨Feat, ♻️Refactor, 💄Style

#217 ♻️Refactor: 공통 컴포넌트 props 변경 및 적용
  src/components/card/Card.jsx
  src/components/chart/Chart.jsx
  src/components/customButton/CustomButton.jsx
  src/components/error/ApiErrorBoundary.jsx
  src/components/error/RenderErrorBoundary.jsx
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditLackModal/CreditLackModal.jsx
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/voteModal/VoteModal.jsx
  src/pages/error/serverError/ServerErrorPage.jsx
  src/pages/my/MyPage.jsx
Labels: 🐛Fix, ♻️Refactor

#222 💄Style: 목록페이지 전체 CSS 수정
  src/components/charge/Charge.jsx
  src/components/charge/charge.styles.js
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
  src/components/customButton/CustomButton.jsx
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
  src/pages/list/ListPage.jsx
  src/pages/list/listPage.styles.js
  src/routes/router.jsx
  src/styles/Global.styles.jsx
Labels: ♻️Refactor, 💄Style

#234 🐛Fix: 마이페이지 반응형, 페이지네이션 수정 및 투표하기 데이터 여자아이돌만 나오는 버그 수정
  src/components/avatar/avatar.styles.js
  src/pages/my/MyPage.jsx
  src/pages/my/myPage.styles.js
Labels: ✨Feat, 🐛Fix

#238 🐛Fix: 투표하기 모달 레이아웃 수정
  src/components/modals/voteModal/voteModal.styles.js
  src/pages/my/MyPage.jsx
Labels: 🐛Fix

#220 ♻️Refactor: 후원하기 모달 수정
  src/components/alert/Alert.jsx
  src/components/alert/alert.styles.js
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/donationModal/donationModal.styles.js
Labels: ✨Feat, ♻️Refactor, 💄Style

#230 🐛Fix: 드래그 했을 때 모달 꺼지는 문제 수정
  src/Root.jsx
  src/components/modal/Modal.jsx
Labels: 🐛Fix

#239 ♻️Refactor: 차트 컴포넌트 함수 분리
  src/assets/images/2-star.png
  src/assets/images/3-star.png
  src/components/charge/charge.styles.js
  src/components/chart/Chart.jsx
  src/components/chart/LoadMoreButton.jsx
  src/components/chart/chart.styles.js
  src/components/chart/fetchData.js
  src/components/chart/useScreenSize.js
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
  src/constants/creditPrice/credit.js
  src/constants/creditPrice/index.js
  src/data/mockData.js
  src/pages/list/listPage.styles.js
Labels: 🐛Fix, ♻️Refactor, 💄Style

#240 ♻️Refactor: toast 알림창 컴포넌트 분리 및 반응형 구현
  src/App.jsx
  src/components/alert/Alert.jsx
  src/components/alert/alert.styles.js
  src/components/alertManager/AlertManager.jsx
  src/components/alertManager/index.js
  src/components/modals/voteModal/VoteModal.jsx
  src/utils/alert/alertController.js
Labels: ♻️Refactor

#242 ♻️Refactor: 카드 컴포넌트 리팩토링 작업
  src/components/card/Card.jsx
  src/components/card/card.styles.js
  src/components/modals/donationModal/DonationModal.jsx
  src/utils/format/getDaysRemaining.js
  src/utils/format/getDonationPercentage.js
Labels: 🐛Fix, ♻️Refactor, 💄Style

#243 ♻️Refactor: 라우터 로더 API호출 분리, request요청 하나의 파일로 통합
  src/api/chart.js
  src/api/donation.js
  src/api/idol.js
  src/api/index.js
  src/components/chart/Chart.jsx
  src/components/modals/voteModal/VoteModal.jsx
  src/pages/landing/LandingPage.jsx
  src/pages/list/ListPage.jsx
  src/routes/router.jsx
  src/utils/api/index.js
  src/utils/api/request.js
  src/utils/api/requestDelete.js
  src/utils/api/requestGet.js
  src/utils/api/requestPatch.js
  src/utils/api/requestPost.js
  src/utils/api/requestPut.js
  src/utils/api/safeRequest.js
  src/utils/validate/index.js
  src/utils/validate/throwIfEmptyArray.js
Labels: ♻️Refactor

#255 🐛Fix: 마이페이지 버그 수정 및 추가하기 버튼, arrow 버튼 기능 추가
  src/pages/my/MyPage.jsx
  src/pages/my/myPage.styles.js
  src/routes/router.jsx
Labels: ✨Feat, 🐛Fix

#257 ♻️Refactor: 헤더 푸터 영역 수정
  src/Root.jsx
  src/components/footer/Footer.jsx
  src/components/footer/footer.styles.js
  src/components/header/header.styles.js
Labels: ♻️Refactor, 💄Style

#259 🐛Fix: PendingUI화면 전환 문제 해결 및 데모 전 리팩토링
  src/App.jsx
  src/Root.jsx
  src/components/alert/Alert.jsx
  src/components/alert/alert.styles.js
  src/components/alertManager/AlertManager.jsx
  src/components/avatar/avatar.styles.js
  src/components/button/arrowButton/arrowButton.styles.js
  src/components/button/avatarButton/AvatarButton.jsx
  src/components/button/avatarButton/avatarButton.styles.js
  src/components/button/customButton/customButton.styles.js
  src/components/card/Card.jsx
  src/components/card/card.styles.js
  src/components/carousel/Carousel.jsx
  src/components/carousel/carousel.styles.js
  src/components/charge/charge.styles.js
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
  src/components/footer/footer.styles.js
  src/components/header/Header.jsx
  src/components/header/header.styles.js
  src/components/loadingStatus/index.js
  src/components/loadingStatus/loadingSpinner/index.js
  src/components/loadingStatus/pendingUI/PendingUI.jsx
  src/components/loadingStatus/pendingUI/index.js
  src/components/loadingStatus/pendingUI/pendingUI.styles.js
  src/components/loadingStatus/splashScreen/index.js
  src/components/modals/commonModal/Modal.jsx
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
  src/components/modals/creditLackModal/CreditLackModal.jsx
  src/components/modals/creditLackModal/creditLackModal.styles.js
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/voteModal/VoteModal.jsx
  src/components/modals/voteModal/voteModal.styles.js
  src/errorBoundary/apiErrorBoundary/ApiErrorBoundary.jsx
  src/errorBoundary/globalErrorBoundary/GlobalErrorBoundary.jsx
  src/errorBoundary/renderErrorBoundary/RenderErrorBoundary.jsx
  src/errorBoundary/styles/errorBoundary.styles.js
  src/pages/error/notFound/NotFoundPage.jsx
  src/pages/error/serverError/ServerErrorPage.jsx
  src/pages/error/styles/baseError.styles.js
  src/pages/landing/LandingPage.jsx
  src/pages/landing/landingPage.styles.js
  src/pages/list/ListPage.jsx
  src/pages/my/MyPage.jsx
  src/pages/my/myPage.styles.js
  src/routes/router.jsx
  src/utils/alert/index.js
  src/utils/api/axiosInstance.js
Labels: 🐛Fix, ♻️Refactor

#262 ✨Feat: 마이페이지 모바일 사이즈에서 모든 아이돌 스크롤로 넘겨 볼수 있도록 구현
  src/components/avatar/avatar.styles.js
  src/pages/my/MyPage.jsx
  src/pages/my/myPage.styles.js
Labels: ✨Feat

#264 ✨Feat: 크레딧 충전하기 모달 토스트 적용 기능 구현
  src/Root.jsx
  src/components/button/index.js
  src/components/button/loadMoreButton/LoadMoreButton.jsx
  src/components/button/loadMoreButton/index.js
  src/components/button/loadMoreButton/loadMoreButton.styles.js
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
  src/components/list/ListModal.jsx
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
  src/components/modals/voteModal/VoteModal.jsx
  src/pages/list/ListPage.jsx
  src/utils/responsive/index.js
  src/utils/responsive/useScreenSize.js
Labels: ✨Feat, ♻️Refactor, 💄Style

#270 ♻️Refactor: 캐러셀 리펙토링 작업
  src/components/card/Card.jsx
  src/components/card/card.styles.js
  src/components/carousel/Carousel.jsx
  src/components/carousel/carousel.styles.js
  src/components/modals/creditChargeModal/index.js
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/donationModal/donationModal.styles.js
  src/constants/carousel/carousel.js
  src/constants/carousel/carouselConstants.js
  src/constants/carousel/index.js
Labels: 🐛Fix, ♻️Refactor, 💄Style

#284 ♻️Refactor: 헤더 수정 및 로고 변경
  src/Root.jsx
  src/assets/icons/mypage-icon.gif
  src/assets/images/logo-text-temp.png
  src/assets/images/starsync-text-logo.svg
  src/components/footer/footer.styles.js
  src/components/header/Header.jsx
  src/components/header/header.styles.js
  src/constants/layout/layout.js
Labels: ♻️Refactor, 💄Style

#287 💄Style: 라디오 버튼을 포함한 영역 width 값 변경
  src/components/modals/voteModal/voteModal.styles.js
Labels: 💄Style

#291 ♻️Refactor: 폴더구조, 엔드포인트 수정
  src/api/chart.js
  src/components/carousel/Carousel.jsx
  src/components/carousel/carousel.styles.js
  src/components/charge/charge.styles.js
  src/components/chart/chart.styles.js
  src/components/chart/fetchData.js
  src/components/list/ListModal.jsx
  src/components/modals/commonModal/index.js
  src/components/modals/index.js
  src/components/template/modal/Modal.jsx
  src/components/template/modal/index.js
  src/components/template/modal/modal.styles.js
  src/constants/api/endpoints.js
  src/styles/animation/animation.styles.js
  src/styles/animation/index.js
  src/utils/animation/index.js
Labels: 🐛Fix, ♻️Refactor

#269 ✨Feat: SEO 개선
  index.html
  public/default-og.png
  src/pages/landing/LandingPage.jsx
  src/pages/list/ListPage.jsx
  src/pages/my/MyPage.jsx
Labels: ✨Feat

#293 ♻️Refactor: SEO 방식 수정
  index.html
  src/pages/landing/LandingPage.jsx
  src/pages/list/ListPage.jsx
  src/pages/my/MyPage.jsx
Labels: ♻️Refactor

#309 ✨Feat: 랜딩페이지 리디자인 반영 및 크레딧 스타로 변경
  src/assets/images/handle-frame.png
  src/assets/images/idols/eunwoo.png
  src/assets/images/idols/keiju.png
  src/assets/images/idols/minji.png
  src/assets/images/idols/taesan.png
  src/assets/images/idols/taesan2.png
  src/assets/images/idols/wonyoung.png
  src/assets/images/starSync-logo.svg
  src/components/charge/Charge.jsx
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditLackModal/CreditLackModal.jsx
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/voteModal/VoteModal.jsx
  src/components/starFrame/StarFrame.jsx
  src/components/starFrame/index.js
  src/components/starFrame/starFrame.styles.js
  src/pages/landing/LandingPage.jsx
  src/pages/landing/landingPage.styles.js
  src/pages/my/myPage.styles.js
Labels: ✨Feat

#312 📝Docs: 리드미 작성
  README.md
  src/assets/images/mococo/감사콩.gif
  src/assets/images/mococo/괜찮코.png
  src/assets/images/mococo/놀람로아코.png
  src/assets/images/mococo/눈물로아코.png
  src/assets/images/mococo/돔황챠콘.png
  src/assets/images/mococo/멀뚱로아코.PNG
  src/assets/images/mococo/몰라로아코.png
  src/assets/images/mococo/몰라코.jpeg
  src/assets/images/mococo/몰라코.png
  src/assets/images/mococo/박수로아코.png
  src/assets/images/mococo/박수코.png
  src/assets/images/mococo/비장로아코.png
  src/assets/images/mococo/비장코.png
  src/assets/images/mococo/뿅로아코.png
  src/assets/images/mococo/사자후로아코.PNG
  src/assets/images/mococo/사자후콘.png
  src/assets/images/mococo/삶이모코코.png
  src/assets/images/mococo/선넘네코.PNG
  src/assets/images/mococo/슬퍼로아콘.png
  src/assets/images/mococo/아무것도몰라콩.png
  src/assets/images/mococo/아콘.gif
  src/assets/images/mococo/엄지코.png
  src/assets/images/mococo/영차로아콘.png
  src/assets/images/mococo/이이잉로아코.PNG
  src/assets/images/mococo/인성.png
  src/assets/images/mococo/점점로아코.PNG
  src/assets/images/mococo/쿨쿨로아코.PNG
  src/assets/images/mococo/크크로아콘.png
  src/assets/images/mococo/토끼로아콘.jpg
  src/assets/images/mococo/펄쩍로아코.PNG
  src/assets/images/mococo/호에엥로아코.PNG
  src/assets/images/mococo/화나콩.png
  src/assets/images/mococo/흘깃로아코.PNG
  src/assets/images/수진.png
  src/assets/images/시은.png
  src/assets/images/유진.png
  src/assets/images/인성.png
  src/assets/images/지섭.png
Labels: 📝Docs

#316 📝Docs: Demo 리드미 최종 편집
  README.md
Labels: 📝Docs
